<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.app.dao.user.DeviceDao">
	<resultMap type="Device" id="deviceResult">
		<result property="deviceId" column="device_id"/>
		<result property="siteId" column="site_id"/>
		<result property="customerId" column="customer_id"/>
		<result property="deviceName" column="device_name"/>
		<result property="modelId" column="model_id"/>
		<result property="deviceIp" column="device_ip"/>
		<result property="userName" column="user_name"/>
		<result property="userPwd" column="user_pwd"/>
		<result property="serialNumber" column="serial_number"/>
		<result property="gmtCreate" column="gmt_create"/>
		<result property="gmtModify" column="gmt_modify"/>
	</resultMap>
	
	<resultMap type="DeviceAccBindData" id="bindDataResult">
		<result property="id" column="id"/>
		<result property="deviceId" column="device_id"/>
		<result property="accessoryId" column="accessory_id"/>
		<result property="userId" column="user_id"/>
	</resultMap>
	
	<sql id="deviceFields">
		<![CDATA[
			device_id,
			site_id,
			customer_id,
			device_name,
			model_id,
			device_ip,
			user_name,
			user_pwd,
			serial_number,
			gmt_create,
			gmt_modify
		]]>
	</sql>
	
	<sql id="selectCondition">
		<where>
			<if test="null != deviceId">
				AND device_id = #{deviceId}
			</if>
			<if test="null != deviceName and deviceName != ''">
			    AND device_name = #{deviceName}
			</if>
			<if test="null != deviceId and deviceId != 0">
				AND device_id = #{deviceId}
			</if>
			<if test="null != siteId and siteId != 0">
				AND site_id = #{siteId}
			</if>
			<if test="null != customerId and customerId != 0">
				AND customer_id = #{customerId}
			</if>
		</where>
	</sql>
	
	<sql id="updateFields">
		<set>
			gmt_modify = now(),
			<if test="null != siteId">
				site_id = #{siteId},
			</if>
			<if test="null != customerId">
				customer_id = #{customerId},
			</if>
			<if test="null != deviceName">
				device_name = #{deviceName},
			</if>
			<if test="null != modelId">
				model_id = #{modelId},
			</if>
			<if test=" null != deviceIp">
				device_ip = #{deviceIp},
			</if>
			<if test=" null != userName">
				user_name = #{userName},
			</if>
			<if test=" null != userPwd">
				user_pwd = #{userPwd},
			</if>
			<if test="null != serialNumber">
				serial_number = #{serialNumber}
			</if>
		</set>
	</sql>
	
	<insert id="addDevice" useGeneratedKeys="true" keyProperty="deviceId" parameterType="Device">
		<![CDATA[
		INSERT INTO cr_device(
		]]>
		<include refid="deviceFields"/>
		<![CDATA[
		) VALUES (
		    #{deviceId},
		 	#{siteId}, 
		 	#{customerId},
		 	#{deviceName}, 
		 	#{modelId},
		 	#{deviceIp},
			#{userName}, 
		 	#{userPwd},
		  	#{serialNumber},
	  		now(),
	  		now()
		)
		]]>
	</insert>
	
	<select id="queryDevice" parameterType="DeviceQuery" resultMap="deviceResult">
		SELECT <include refid="deviceFields"/>
		FROM cr_device
		<include refid="selectCondition"/>
	</select>
	
	<select id="queryByDeviceId" parameterType="java.lang.Long" resultMap="deviceResult">
		SELECT <include refid="deviceFields"/>
		FROM cr_device where device_id =  #{deviceId}
	</select>
	
	<select id="queryDevicesBySiteId" parameterType="java.lang.Long" resultMap="deviceResult">
		SELECT <include refid="deviceFields"/>
		FROM cr_device where site_id =  #{siteId}
	</select>
	
	<select id="countAll" resultType="int">
        select count(*) c from cr_device
        <include refid="selectCondition"/>
    </select>	
    
    <delete id="deleteDevice" parameterType="java.lang.Long" >
    	delete cr_device where device_id =  #{deviceId}
    </delete>
    
    
	<update id="updateDevice" parameterType="Device">
		UPDATE cr_device
		<include refid="updateFields"/>
		WHERE device_id = #{deviceId}
	</update>
	
	<!-- device accessory bind -->
	<select id="queryDeviceBindDataByDeviceId" parameterType="java.lang.Long" resultMap="bindDataResult">
		SELECT id,device_id,da.accessory_id,da.accessory_name
		FROM cr_device_acc_relation dar,cr_device_accessory da
		WHERE device_id = #{deviceId} and dar.accessory_id = da.accessory_id
	</select>
	
	<delete id="batchDeleteAccBindBydeviceId" parameterType="java.lang.Long">
		delete from cr_device_acc_relation where device_id =#{deviceId}
	</delete>
	
	<insert id="batchInsertAccBindRelation" useGeneratedKeys="true" parameterType="java.util.List">
		<selectKey resultType="long" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into cr_device_acc_relation (user_id,device_id,accessory_id,gmt_create,gmt_modify) 
		values
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.userId},#{item.deviceId},#{item.accessoryId},now(),now())
		</foreach>
	</insert>
</mapper>