<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.app.dao.model.ModelDao">
	<resultMap type="PlcModel" id="plcModelResult" >
		<result property="modelId" column="model_id"/>
		<result property="modelName" column="model_name"/>
		<result property="sensorType" column="sensor_type"/>
		<result property="ioType" column="io_type"/>
		<result property="gmtCreate" column="gmt_create"/>
		<result property="gmtModify" column="gmt_modify"/>
	</resultMap>
	
	<sql id="modelFields">
		<![CDATA[
			model_id,
			model_name,
			sensor_type,
			io_type,
			gmt_create,
			gmt_modify
		]]>
	</sql>
	
	<sql id="selectCondition">
		<where>
			<if test="0 != modelId">
				AND model_id = #{modelId}
			</if>
			<if test="null != modelName and modelName != ''">
				AND model_name like "%"#{modelName}"%"
			</if>
		</where>
	</sql>
	
	<sql id="updateFields">
		<set>
			gmt_modify = now(),
			<if test="null != modelName">
				model_name = #{modelName},
			</if>
			<if test="null != sensorType">
				sensor_type = #{sensorType},
			</if>
			<if test="null != ioType">
				io_type = #{ioType},
			</if>
		</set>
	</sql>
	
	<insert id="addModel" useGeneratedKeys="true" keyProperty="modelId" parameterType="PlcModel">
		<![CDATA[
		INSERT INTO cr_plc_model(
		]]>
		<include refid="modelFields"/>
		<![CDATA[
		) VALUES (
		    #{modelId},
		 	#{modelName}, 
		 	#{sensorType},
		 	#{ioType}, 
	  		now(),
	  		now()
		)
		]]>
	</insert>
	
	<delete id="delModel" parameterType="java.lang.Integer">
		DELETE cr_plc_model WHERE model_id = #{modelId}
	</delete>
	
	<select id="queryPlcModel" parameterType="plcModelQuery" resultMap="plcModelResult">
		SELECT <include refid="modelFields"/>
		FROM cr_plc_model 
		<include refid="selectCondition"/>
	</select>
	
	<select id="queryPlcModelById" parameterType="java.lang.Long" resultMap="plcModelResult">
		SELECT <include refid="modelFields"/>
		FROM cr_plc_model where model_Id =  #{modelId}
	</select>
	
	<select id="totalCount" resultType="int">
        select count(*) c from cr_plc_model 
        <include refid="selectCondition"/>
    </select>	
    
	<update id="updateModel" parameterType="PlcModel">
		UPDATE cr_plc_model
		<include refid="updateFields"/>
		WHERE model_id = #{modelId}
	</update>
</mapper>