<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
<!-- BEGIN SIDEBAR -->
#menu (3)
<!-- END SIDEBAR -->

<!-- BEGIN PAGE -->
#parse ("/customer/customer_input_page_content.vm")
<!-- END PAGE -->
</div>
<!-- END CONTAINER -->

