<div class="span12">
	<!-- BEGIN INPUT PORTLET-->

	<div class="portlet box blue">
		<div class="portlet-title">
			<div class="caption"><i class="icon-search"></i>客户基础信息</div>
		</div>
		
		<div class="portlet-body form" style="display: block;">
		<form class="form-horizontal" action="/customer/updateCustomer.htm" method="post">
			<input type="hidden" name="customerId" value="$!{customer.customerId}"> 
			<div class="row-fluid">
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">所属类型:</label>
						<div class="controls">
							<select class="small m-wrap" tabindex="1" name="customerType">
								<option value="1" #if('1'== $!{customer.customerType})selected #end>平台客户</option>
								<option value="2" #if('2' == $!{customer.customerType})selected #end>机构客户</option>
							</select>
						</div>
					</div>
				</div>

				<!--/span-->
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">客户名称:</label>
						<div class="controls">
							<input type="text" class="m-wrap span12" name="customerName" value="$!{customer.customerName}"> 
						</div>
					</div>
				</div>

				<!--/span-->

				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">客户地址:</label>
						<div class="controls">
							<input type="text" class="m-wrap span12" name="customerAddress" value="$!{customer.customerAddress}"> 
						</div>
					</div>
				</div>

				<!--/span-->
			</div>
			<!--/row-->
			<div class="row-fluid">
				<div class="span4 ">
						<div class="control-group">
							<label class="control-label">联系人:</label>
							<div class="controls">
								<input type="text" class="m-wrap span12" name="contactName" value="$!{customer.contactName}"> 
							</div>
						</div>
				</div>
				<!--/span-->
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">手机号:</label>
						<div class="controls">
							<input type="text" class="m-wrap span12" name="contactPhone" value="$!{customer.contactPhone}"> 
						</div>
					</div>
				</div>

				<!--/span-->
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">邮箱:</label>
						<div class="controls">
							<input type="text" class="m-wrap span12" name="contactEmail" value="$!{customer.contactEmail}"> 
						</div>
					</div>
				</div>
				<!--/span-->
			</div>
			<!--/row-->
			<div class="form-actions">
				<button type="submit" class="btn blue"><i class="icon-ok"></i> 保存</button>
				<button type="button" class="btn">取消</button>
			</div>
		</form>
		</div>
		
	</div>
	<!-- END INPUT FORM>
</div>