<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
<!-- BEGIN SIDEBAR -->
#menu (4)
<!-- END SIDEBAR -->

<!-- BEGIN PAGE -->
#parse ("/customer/customer_page_content.vm")
<!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
#parse("control/script.vm")	

<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->

<script type="text/javascript" src="/media/js/select2.min.js"></script>

<script type="text/javascript" src="/media/js/jquery.dataTables.js"></script>

<script type="text/javascript" src="/media/js/DT_bootstrap.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/media/js/app.js"></script>
<script src="/media/js/table-managed.js"></script>         
<script>
		
	jQuery(document).ready(function() {   
		var customerName = $("#customerName").val();
		var custType = $("#custType").val();
		var ajax_data = {
			ajax_url:"/customer/queryCustomerList.do?customerName="+customerName+"&customerType="+custType,
			last_index:6,
			delete_url:"/customer/deleteCustomer?customerId=",
			edit_url:"/customer/editCustomer.htm?customerId="
		} 
	   console.log(ajax_data.ajax_url);
	   //initiate layout and plugins
	   App.init();
	   TableManaged.init(ajax_data);
	});
</script>

<!-- END PAGE LEVEL SCRIPTS -->