<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
<!-- BEGIN SIDEBAR -->
#menu (6)
<!-- END SIDEBAR -->

<!-- BEGIN PAGE -->
#parse ("/device/device_page_content.vm")
<!-- END PAGE -->
</div>
<!-- END CONTAINER -->


<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->


<!-- BEGIN CORE PLUGINS -->


#parse("control/script.vm")	


<!-- END CORE PLUGINS -->


<!-- BEGIN PAGE LEVEL PLUGINS -->

<script type="text/javascript" src="/media/js/select2.min.js"></script>

<script type="text/javascript" src="/media/js/jquery.dataTables.js"></script>

<script type="text/javascript" src="/media/js/DT_bootstrap.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->

<script src="/media/js/app.js"></script>

<script src="/media/js/table-managed.js"></script>     

<script>

	jQuery(document).ready(function() {  
	
	  var deviceName = $("#deviceName").val();
	  var customerId = $("#customerId").val();
	  var siteId = $("#siteId").val();
	  var ajax_data = {
			ajax_url:"/device/queryDeviceList.do?deviceName="+deviceName+"&customerId="+customerId,
			last_index:6,
			delete_url:"/device/deleteDevice?id=",
			edit_url:"/device/editDevice.do?deviceId="
	  } 
		console.log(ajax_data.ajax_url);
	   // initiate layout and plugins
	   App.init();
	   TableManaged.init(ajax_data);
	   initSelect();
	});
	
	function initSelect(){
		changCustomers($("#customerId").val());
		$("#customerId").change(function(){
	   		changCustomers($(this).val());
	   });
	}
	
	function changCustomers(customerId){  
	    $.post("/site/querySiteListBycustomerId.do",{"customerId":customerId},function(json){  
	        $("#siteId").html("");//
	        $("#siteId").append("<option value='all'>--全部--</option>");  
	        for(var i=0;i<json.length;i++){  
	            $("#siteId").append("<option value='"+json[i].siteId+"'>"+json[i].siteName+"</option>");  
	        }  
	    },'json');  
} 
</script>

<!-- END PAGE LEVEL SCRIPTS -->