<body onload="initEdit($!lat,$!lng)">  
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
<!-- BEGIN SIDEBAR -->
#menu (6)
<!-- END SIDEBAR -->

<!-- BEGIN PAGE -->
#parse ("/device/device_edit_input_page_content.vm")
#parse("control/device/device_content.vm")	

<!-- END PAGE -->
</div>
<!-- END CONTAINER -->
</body>
