<div class="span12">
	<!-- BEGIN SEARCH PORTLET-->

	<div class="portlet ">

		<div class="portlet-title">

			<div class="caption"><i class="icon-search"></i>查询条件</div>

			<div class="tools">

				<a href="javascript:;" class="collapse"></a>

			</div>

		</div>
		
		<div class="portlet-body form" style="display: block;">
		<form class="form-horizontal" action="/device/index.do" method="post">
			<div class="row-fluid">
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">所属客户:</label>
						<div class="controls">
							<select id="customerId"  class="small m-wrap" tabindex="1" name="customerId" >
								<option value="0" selected>--全部--</option>
								#foreach($customer in $customers)
									<option value="$!{customer.customerId}" #if($!{customerId} == $!{customer.customerId})selected#end>
											$!{customer.customerName}</option>
								#end
							</select>
						</div>
					</div>
				</div>

				<!--/span-->
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">所属现场</label>
						<div class="controls">
							<select id="siteId" class="small m-wrap" tabindex="1" name="siteId">
                                <option value="0">--全部--</option>
								#foreach($site in $sites)
									<option value="$!{site.siteId}" #if($!{siteId} == $!{site.siteId})selected#end>
											$!{site.siteName}
									</option>
								#end
							</select>
						</div>
					</div>
				</div>

				<!--/span-->
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">设备名称</label>
						<div class="controls">
							<input  id="deviceName" type="text" class="m-wrap span12" name="deviceName" value="$!{deviceName}"> 
						</div>
					</div>
				</div>
				<!--/span-->
			</div>
			<!--/row-->
			
			<div class="row-fluid">
				<div class="span4 ">
					<div class="control-group">
						<div class="controls">
							<button class="btn purple">查询 <i class="icon-search"></i></button>	</div>
					</div>
				</div>
			</div>
		</form>
		</div>
		
	</div>

	<!-- END SEARCH FORM>

</div>