<div class="span6 responsive" data-tablet="span12 fix-offset" data-desktop="span6">

						<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet box grey">

							<div class="portlet-title">

								<div class="caption"><i class="icon-user"></i>设备列表</div>

								<div class="actions">

									<a href="deviceInput.htm" class="btn blue"><i class="icon-pencil"></i> 新增</a>

									<div class="btn-group">

										<a class="btn green" href="#" data-toggle="dropdown">

										<i class="icon-cogs"></i> 工具

										<i class="icon-angle-down"></i>

										</a>

										<ul class="dropdown-menu pull-right">

											<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>

											<li><a href="#"><i class="icon-trash"></i> Delete</a></li>

											<li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>

											<li class="divider"></li>

											<li><a href="#"><i class="i"></i>admin</a></li>

										</ul>

									</div>

								</div>

							</div>

							<div class="portlet-body">

								<table class="table table-striped table-bordered table-hover" id="sample_2">

									<thead>

										<tr>

											<th class="hidden-480">设备编号</th>

											<th class="hidden-480">所属客户</th>
											
											<th class="hidden-480">所属现场</th>

											<th class="hidden-480">设备名称</th>
											
											<th class="hidden-480">机型名称</th>
											
											<th class="hidden-480">序列号</th>

											<th class="hidden-480">操作</th>
										</tr>

									</thead>

									<tbody role="alert" aria-live="polite" aria-relevant="all">
										
									</tbody>

								</table>
								
							</div>

						</div>

						<!-- END EXAMPLE TABLE PORTLET-->

</div>