 #parse ("/front/head.vm")
<body>
     #parse ("/front/top.vm")
        <div style="clear:both;"></div>      

        <!--<div class="menu">
        	<ul>
            	<li class="bg" style=" height:51px; line-height:51px;"><span class="ico"><img src="/media/image/1.gif" width="16" height="16" /></span>账户管理</li>
                <li><span class="ico"><img src="/media/image/2.gif" width="16" height="16" /></span><a href="#">业务类型管理</a></li>
                <li><a href="#"><span class="ico"><img src="/media/image/3.gif" width="16" height="16" /></span>账户类型管理</a></li>
                <li><a href="#"><span class="ico"><img src="/media/image/4.gif" width="16" height="16" /></span>交易明细管理</a></li>
                <li><a href="#"><span class="ico"><img src="/media/image/5.gif" width="16" height="16" /></span>对账管理</a></li>
                <li><a href="#"><span class="ico"><img src="/media/image/6.gif" width="16" height="16" /></span>日志管理</a></li>
                <li><a href="#"><span class="ico"><img src="/media/image/7.gif" width="16" height="16" /></span>操作员管理</a></li>
                <li><a href="#"><span class="ico"><img src="/media/image/7.gif" width="16" height="16" /></span>操作员管理</a></li>
            </ul>
        </div>-->
</div>
    <div class="main">
    	
        <div style="clear:both; float:none;"></div>
        <div class="content">
        <div class="shezhi" ><a></a></div>
         <div class="caidan" ><a></a></div>
         <div class="return"><a></a></div><div style="position:absolute; left:120px; top:18px; z-index:6; height:40px; line-height:40px; font-size:18px; color:#333; font-family:Microsoft YaHei">设备管理</div>
         

         
         <div style="float:left; margin-bottom:10px;"><span style="width:440px; font-size:15px; display:inline-block; text-align:left;">设备编号<input style=" text-align:left; width:200px; height:30px; font-family:Verdana, Geneva, sans-serif; font-size:18px; margin-left:10px;" name="" type="text" /></span><span style="width:500px; font-size:15px; ">风速&nbsp;&nbsp;<input style="width:200px; height:30px; font-family:Verdana, Geneva, sans-serif; font-size:18px; margin-left:10px;"  name="" type="text" />m/s（米/秒）</span></div>
         <br />
         <div style="float:left;  margin-bottom:10px;"><span style="width:440px; font-size:15px;  display:inline-block; text-align:left;">运行时间<input style="width:200px; height:30px; font-family:Verdana, Geneva, sans-serif; font-size:18px; margin-left:10px;"  name="" type="text" /> h/min（小时/分）</span><span style="width:500px; font-size:15px; ">起重量<input style="width:200px; height:30px; font-family:Verdana, Geneva, sans-serif; font-size:18px; margin-left:10px;"  name="" type="text" />T(吨)</span></div>
          <div style=" clear:both;"></div>

         <div style=" clear:both;"></div>     

<div class="lbxx1">
<table width="100%" border="0" >
  <tr>
    <td valign="top" style="width:277px; font-family:Microsoft YaHei, Verdana, Geneva, sans-serif; font-size:15px; color:#333;"><img style="margin-top:0px;" src="/media/image/jiqi.jpg" width="277" height="625" /></td>
    <td valign="top" style=" width:300px; padding-top:20px; padding-left:20px; border-left:1px solid #969ca8; font-family:Microsoft YaHei, Verdana, Geneva, sans-serif; font-size:15px; color:#333;">
输出电流：
<br /><br />           
输出电压：
<br /><br />            
输出功率：
<br /><br />            
直流母线电压：
<br /><br />       
累计千瓦时：
<br /><br />
累计运行时间：
<br /><br />
变频器摄氏温度：
<br /><br />
上一个故障代码：
<br /><br />
故障频率：
<br /><br />
故障电流：
<br /><br />
故障母线电压：
</td>
    <td valign="top" style="border-left:1px solid #969ca8;">
    <table width="100%" border="0" >
  <tr>
    <td style=" padding:10px;"><div style="background:#5c667a; width:100%;  border-radius:4px; color:#FFF; height:40px; line-height:40px; font-family:Microsoft YaHei, Verdana, Geneva, sans-serif; text-indent:1em; ">零件保护条件</div></td>
  </tr>
</table>
<table width="100%" border="0">
  <tr>
    <td  style=" padding:10px; font-family:Microsoft YaHei, Verdana, Geneva, sans-serif;">
    <table>  
    <tr style="height:40px; text-indent:1em;">
    <td><img style="margin-top:0px;" src="/media/image/hongdiandian.jpg" width="19" height="19" /></td>
    <td>主接触器反馈</td></tr>
        <tr style="height:40px; text-indent:1em;">
    <td><img style="margin-top:0px;" src="/media/image/hongdiandian.jpg" width="19" height="19" /></td>
    <td>相序保护器</td></tr>
            <tr style="height:40px; text-indent:1em;">
    <td><img style="margin-top:0px;" src="/media/image/hongdiandian.jpg" width="19" height="19" /></td>
    <td>门限位1</td></tr>
            <tr style="height:40px; text-indent:1em;">
    <td><img style="margin-top:0px;" src="/media/image/hongdiandian.jpg" width="19" height="19" /></td>
    <td>门限位2</td></tr>
            <tr style="height:40px; text-indent:1em;">
    <td><img style="margin-top:0px;" src="/media/image/hongdiandian.jpg" width="19" height="19" /></td>
    <td>门限位3</td></tr>
            <tr style="height:40px; text-indent:1em;">
    <td><img style="margin-top:0px;" src="/media/image/hongdiandian.jpg" width="19" height="19" /></td>
    <td>小车机房急停</td></tr>
            <tr style="height:40px; text-indent:1em;">
    <td><img style="margin-top:0px;" src="/media/image/hongdiandian.jpg" width="19" height="19" /></td>
    <td>电气房急停</td></tr>
            <tr style="height:40px; text-indent:1em;">
    <td><img style="margin-top:0px;" src="/media/image/hongdiandian.jpg" width="19" height="19" /></td>
    <td>门限位1</td></tr>
    </table>
    </td>
    <td valign="top" style="border-left:1px solid #969ca8; font-family:Microsoft YaHei, Verdana, Geneva, sans-serif; text-indent:1em; padding:10px;">
    <table>  
    <tr style="height:40px; text-indent:1em;">
    <td><img style="margin-top:0px;" src="/media/image/hongdiandian.jpg" width="19" height="19" /></td>
    <td>主起升制动器断路器反馈</td></tr>
        <tr style="height:40px; text-indent:1em;">
    <td><img style="margin-top:0px;" src="/media/image/hongdiandian.jpg" width="19" height="19" /></td>
    <td>主起升制动器断路器反馈
</td></tr>
            <tr style="height:40px; text-indent:1em;">
    <td><img style="margin-top:0px;" src="/media/image/hongdiandian.jpg" width="19" height="19" /></td>
    <td>主起升制动器断路器反馈
</td></tr>
            <tr style="height:40px; text-indent:1em;">
    <td><img style="margin-top:0px;" src="/media/image/hongdiandian.jpg" width="19" height="19" /></td>
    <td>主起升制动器断路器反馈
</td></tr>
            <tr style="height:40px; text-indent:1em;">
    <td><img style="margin-top:0px;" src="/media/image/hongdiandian.jpg" width="19" height="19" /></td>
    <td>主机构联锁
</td></tr>
    </table>
    </td>
  </tr>
</table>
    </td>
    </tr>
    </table>
            </div>
            <div style="margin:0 auto; width:100%; width:240px; height:90px; margin-top:20px;">
</div>
        </div>
    </div>
</body>
</html>
