<div class="span12">
	<!-- BEGIN INPUT PORTLET-->
	<div class="portlet box blue">
		<div class="portlet-title">
			<div class="caption"><i class="icon-search"></i>配件信息</div>
		</div>
		
		<div class="portlet-body form" style="display: block;">
		<form class="form-horizontal" action="" method="post">
			<input type="hidden" name="userId" value="$!{userId}"> 
			<!--/row-->
			<div class="row-fluid">
				<div class="span12 ">
					<div class="control-group">
										<label class="control-label">配件选择</label>
										<div class="controls">
											<select multiple="multiple" id="my_multi_select2" name="my_multi_select2">
												#foreach($param in ${siteMap.keySet()})  
													#set($site = ${siteMap.get(${param})})
													#foreach($s in ${site.keySet()})
														<optgroup label="${s}">
														#foreach($device in $site.get($s))	
															<option value="$!{device.deviceId}">$!{device.deviceName}</option>
														#end
														</optgroup>
													#end
												#end
											</select>
										</div>
									</div>
					</div>
				<!--/span-->
			</div>
			<!--/row-->
			
			<div class="form-actions">
				<button type="submit" class="btn blue"><i class="icon-ok"></i> 保存</button>
				<button type="button" class="btn">取消</button>
			</div>
		</form>
		</div>
		
	</div>
	<!-- END INPUT FORM>
</div>