<div class="span12">
	<!-- BEGIN INPUT PORTLET-->

	<div class="portlet box blue">

		<div class="portlet-title">

			<div class="caption"><i class="icon-search"></i>设备基础信息</div>

		</div>
		
		<div class="portlet-body form" style="display: block;">
		
		<form class="form-horizontal">
			<div class="row-fluid">

				<div class="span4 ">

					<div class="control-group">

						<label class="control-label">所属客户:</label>

						<div class="controls">

							<select class="small m-wrap" tabindex="1">

								<option value="Category 1">上海铁路局</option>

								<option value="Category 2">北京铁路局</option>


							</select>

						</div>

					</div>

				</div>

				<!--/span-->
				<div class="span4 ">

					<div class="control-group">

						<label class="control-label">所属现场:</label>

						<div class="controls">

							<select class="small m-wrap" tabindex="1">

								<option value="Category 1">杭州</option>

								<option value="Category 2">北京</option>

								<option value="Category 3">上海</option>


							</select>

						</div>

					</div>

				</div>

				<!--/span-->

				<div class="span4 ">

					<div class="control-group">

						<label class="control-label">设备名称:</label>

						<div class="controls">

							<input type="text" class="m-wrap span12"> 

						</div>

					</div>

				</div>

				<!--/span-->
			</div>
			<!--/row-->
			<div class="row-fluid">

				<div class="span4 ">

					<div class="control-group">

						<label class="control-label">机型:</label>

						<div class="controls">

							<select class="small m-wrap" tabindex="1">

								<option value="Category 1">西门子1</option>

								<option value="Category 2">西门子2</option>


							</select>

						</div>

					</div>

				</div>

				<!--/span-->
				<div class="span4 ">

					<div class="control-group">

						<label class="control-label">设备IP:</label>

						<div class="controls">

							<input type="text" class="m-wrap span12" > 

						</div>

					</div>

				</div>

				<!--/span-->

				<div class="span4 ">

					<div class="control-group">

						<label class="control-label">视频用户名:</label>

						<div class="controls">

							<input type="text" class="m-wrap span12"> 

						</div>

					</div>

				</div>

				<!--/span-->
			</div>
			<!--/row-->
			<div class="row-fluid">

				<div class="span4 ">

					<div class="control-group">

						<label class="control-label">视频密码:</label>

						<div class="controls">

							<input type="text" class="m-wrap span12" > 

						</div>

					</div>

				</div>

				<!--/span-->
				<div class="span4 ">

					<div class="control-group">

						<label class="control-label">序列号:</label>

						<div class="controls">

							<input type="text" class="m-wrap span12" > 

						</div>

					</div>

				</div>

				<!--/span-->

			</div>
			<!--/row-->
			<div class="form-actions">

				<button type="submit" class="btn blue"><i class="icon-ok"></i> 保存</button>

				<button type="button" class="btn">取消</button>

			</div>
		</form>
		</div>
		
	</div>
	<!-- END INPUT FORM>
</div>