#parse ("/front/head.vm")
<body>
    
#parse ("/front/top.vm")

 <div style="clear:both;"></div>      
 <div class="main">
    <div style="clear:both; float:none;"></div>
    <div class="content">
     #parse ("/front/common/setting.vm")
       <div class="return"><a href="/front/device/index.htm?deviceId=${deviceId}"></a></div><div style="position:absolute; left:120px; top:18px; z-index:6; height:40px; line-height:40px; font-size:18px; color:#333; font-family:Microsoft YaHei">生产计划</div>
       <div class="content_list">
	        <table class="content_tag" width="100%" border="0">
	          <tr>
	            <td class="content_list_tag1">计划列表</td>
	          </tr>
			</table>
	        <table width="100%" border="0" class="content_list_123">
				#foreach($notice in $notices)
				  <!--第一行开始-->
	              <tr class="content_list_tr1" style="cursor:hand;" onmouseout="" onmousemove="changeTrColor(this)">
	                <td class="content_list_tag1">$notice.content</td>
	              </tr>
	              <!--第一行结束-->
				#end
			</table>
            <!--翻页开始-->
        </div>
     </div>
</div>
</body>
</html>
