#macro( menu $id)
<div class="page-sidebar nav-collapse collapse">

			<!-- BEGIN SIDEBAR MENU -->        

			<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>
				<li >

					<a href="index.html">

					<i class="icon-home"></i> 

					<span class="title">首页</span>

					<span class="selected"></span>

					</a>

				</li>

				<li #if ($id > 0 && $id < 4) class="start active" #end>

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">系统管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li #if ($id == 3) class="active" #end>

							<a href="/userInfo/index.htm">

							用户管理</a>

						</li>
					</ul>

				</li>
				<li #if ($id > 3 && $id < 8) class="start active" #end>

					<a class="active" href="javascript:;">

					<i class="icon-sitemap"></i> 

					<span class="title">客户数据管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">
						
						<li #if ($id == 4) class="active" #end>
							<a href="/customer/index.htm">
							客户管理</a>
						</li>
						<li #if ($id == 5) class="active" #end>
							<a href="/site/index.htm">
							现场管理</a>
						</li>
						<li #if ($id == 6) class="active" #end>
							<a href="/device/index.htm">
							设备管理</a>
						</li>
					</ul>

				</li>
				<li #if ($id > 7 && $id < 11) class="start active" #end>

					<a class="active" href="javascript:;">

					<i class="icon-th"></i> 

					<span class="title">机型数据管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li #if ($id == 8) class="active" #end >

							<a href="/model/index">

							机型管理</a>

						</li>
						
						<li #if ($id == 9) class="active" #end >

							<a href="">

							机型变量管理</a>

						</li>
						
					</ul>

				</li>
				<li  #if ($id > 10 && $id < 13) class="start active" #end>

					<a class="active" href="javascript:;">

					<i class="icon-wrench"></i> 

					<span class="title">配件管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li #if ($id == 12) class="active" #end >

							<a href="/acc/index.htm">

							配件管理</a>

						</li>
						
					</ul>

				</li>

					<li #if ($id > 15 && $id < 17) class="start active" #end>

					<a href="javascript:;">

					<i class="icon-warning-sign"></i> 

					<span class="title">设备异常管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li #if ($id == 16) class="active" #end>

							<a href="">

							报警规则设置</a>

						</li>

					</ul>

				</li>
				<li #if ($id > 16 && $id < 18) class="start active" #end>

					<a href="javascript:;">

					<i class="icon-table"></i> 

					<span class="title">内容发布管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li  #if ($id == 17) class="active" #end>

							<a href="">

							信息发布设置</a>

						</li>

					</ul>

				</li>

			</ul>

			<!-- END SIDEBAR MENU -->

		</div>
#end

#macro(fillSearchListTableTitle $searchTitle)
	<th>$searchTitle</th>
#end