@charset "gb2312";
/* CSS Document */
*{ margin:0px; padding:0px;}
body{ margin:0px; padding:0px; border:0px; font-size:12px; font-family:"宋体"; background:#fff; background:url(../image/bd_02.jpg) repeat-x top left; height:100%;}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, textarea, blockquote,p{ margin: 0; padding: 0; line-height:24px;}
img{ border:0px; padding:0; margin:0;}
a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:underline; color:#f00;}
ul,dl{ list-style:none;}
table { border-collapse: collapse; border-spacing: 0; border-collapse:collapse; empty-cell:show;}
.top{ background:url(../image/logo.png) no-repeat top left; background-color:#405d95; height:80px; width:100%;}
.top_logo{float:left;}
.top_info{float:right; height:80px; line-height:80px; padding-right:10px; vertical-align:middle; font-family:Tahoma; color:#FFF; background:url(../image/t_bg.jpg) no-repeat top right; }
*html .top_info{ margin-top:10px;}
.top_help{vertical-align:middle; margin:0px 5px 0px 8px;}
.nav{ width:260px; margin-left:3px; height:100%; float:left; display:inline;}
.menu_title { background:url(../image/menu_title.jpg)no-repeat top left; width:242px; height:36px; display:block; color:#a8c1e1; text-indent:2em; font-size:14px; line-height:36px;}
.menu_bg { width:242px; background-color:#3e5167;height: 648px;}
.menu_bg li { height:50px; border-bottom:1px dashed #6b7580; margin: 0 8px;}
.menu{z-index:2; margin-left:5px; margin-top:35px; width:254px; position:absolute;}
.menu .bg{ background:url(../image/menu_li_bg.png) no-repeat left; padding-left:55px; line-height:51px; color:#FFF; font-weight:bold;}
.menu .ico{ vertical-align:middle; }
.menu li{color:#91a4ba; font-size:14px; font-family:Tahoma; vertical-align:middle;}
.menu li a{ width:179px; height:51px; line-height:51px; color:#91a4ba; display:inline-block; padding-left:55px;}
.menu li a:hover{color:#fff; background:url(../image/hover_bg.jpg) left no-repeat ; padding-left:55px; text-decoration:none;}
/*导航结束*/
/*主干内容开始*/
.main{ padding:0 70px; overflow:hidden; position:relative;  background:url(../image/main_bg.jpg) left repeat-x ;}
.lbxx{height:70px; background-color:#FFF; border:1px solid #dadada; text-align:left; padding-top:12px; overflow:hidden;}
.lban1{background:url(../image/pj_03.gif) no-repeat left top; cursor:pointer; width:194px; height:57px; display:inline-block; margin-left:15px;}
.lban2{background:url(../images/pj_04.gif) no-repeat left top; width:194px; height:57px; display:inline-block; cursor:pointer;}
.icomenu{font-family:Microsoft YaHei;font-size:24px; text-align:center; margin-bottom:60px;}
.icomenu1{font-family:Microsoft YaHei;font-size:18px; text-align:center; margin-bottom:40px;}
.icomenu img{ margin-bottom:0px;}
.icomenu  a:hover{ cursor:pointer;}
.shezhi{position:absolute; z-index:3; right:0px; top:0px;}
.shezhi a{background:url(../image/shezhi.jpg)no-repeat top left; width:62px; height:62px; display:inline-block; cursor:pointer;}
.shezhi a:hover{background:url(../image/shezhi_in.jpg)no-repeat top left; width:62px; height:62px; }
.caidan{position:absolute; z-index:4; right:0px; top:62px;}
.caidan a{background:url(../image/caidan.jpg)no-repeat top left; width:62px; height:62px; display:inline-block; cursor:pointer;}
.caidan a:hover{background:url(../image/caidan_in.jpg)no-repeat top left; width:62px; height:62px; }
.return{position:absolute; left:70px; top:18px; z-index:5;}
.return a{width:40px; height:40px; line-height:40px; display:inline-block; background:url(../image/return.png) left no-repeat ; cursor:pointer;}
.return a:hover{background:url(../image/return_in.png) left no-repeat ;}

/*筛选开始*/
.s_time_y{width:99px;}
.s_time_m{width:59px;}
.s_time_d{width:59px;}
.s_time_l{width:129px;}
.s_text{ width:135px; padding:0px 5px; height:26px; line-height:26px; border-top:1px solid #a9aeb4; border-bottom:1px solid #dcdfe6; border-left:1px solid #a9aeb4; border-right:1px solid #dcdfe6; vertical-align:middle;}
.search{margin-top:20px;}
.search_x{vertical-align:middle; font-family:Tahoma; margin:10px 0px;}
.search_button{ margin:0; padding:0;}
.search_button a{ width:108px; zoom:1; height:36px; background:url(../image/search_button.jpg) no-repeat left top; display:block; cursor:pointer;}
.search_button a:hover{ background:url(../image/search_button_on.jpg) no-repeat left top;}
.search{margin-top:20px;}
.search_date_ico {vertical-align:middle; margin-right:5px; font-family:Tahoma;}
.h_search_button{ margin:20px auto; width:35%;}
body{text-align: center;}
 .one{ float:left; background-color:red; }
 .two{ margin-left:-1000px; padding-left:1000px; }         
 .thr{ background-color:green; }
 .y{margin:0px; padding:0px;}
.y a{margin:0px; border:0px #FF0000 solid; text-align:center; font-family:Microsoft YaHei; font-size:22px; width:100%; height:70px; line-height:70px; background:#ebecf0; display:inline-block; border-top-left-radius:10px; cursor:pointer; overflow:hidden;}
.y a:hover{background:#b2bdd1; color:#FFFFFF;}
.w{margin:0px; padding:0px;}
.w a{margin:0px; border:0px #FF0000 solid; width:100%; font-family:Microsoft YaHei; text-align:center; font-size:22px;  height:70px; line-height:70px; background:#ebecf0; display:inline-block; border-top-right-radius:10px; cursor:pointer; overflow:hidden;}
.w a:hover{background:#b2bdd1; color:#FFFFFF;}
table{border-collapse:collapse;border-spacing:0;}
.x{margin:0px; border:0px #FF0000 solid; width:100%; font-family:Microsoft YaHei; text-align:center; font-size:22px;  height:70px; line-height:70px; background:#b2bdd1; display:inline-block; border-top-left-radius:10px; overflow:hidden; color:#FFF;}
td{
padding:0px;
margin:0px;
border:0px;
} 
.next1{margin:0px; padding:0px;}
.next1 a{margin:0px; border:0px #FF0000 solid; width:120px;text-align:center; font-size:16px; font-family:Microsoft YaHei; font-size:15px;  height:44px; line-height:44px; background:#f0efee; display:inline-block; border-top-left-radius:40px; border-bottom-left-radius:40px; cursor:pointer; overflow:hidden; border-right:1px solid #d0d0d0;}
.next2{margin:0px; padding:0px;}
.next2 a{margin:0px; border:0px #FF0000 solid; width:120px;text-align:center; font-size:16px;  font-family:Microsoft YaHei; font-size:15px;   height:44px; line-height:44px; background:#f0efee; display:inline-block; border-top-right-radius:40px; border-bottom-right-radius:40px; cursor:pointer; overflow:hidden;}
.next1 a:hover{background:#b2bdd1; color:#FFFFFF;}
.next2 a:hover{background:#b2bdd1; color:#FFFFFF;}

/*列表内容开始*/
.content{ margin:80px 10px 0px 0px; clear:both;}
*html .content{ margin-top:-480px; margin-right:10px; margin-bottom:20px;}

.content_title{ margin:0px; padding:0px;}
.content_title_bg{background:url(../image/title_bg.jpg) repeat-x top left; height:36px;}
.content_title_bg_l{background:url(../image/title_l.jpg) no-repeat left top; width:4px;}
.content_title_bg_m{color:#a8c1e1; vertical-align:middle; text-indent:1em; font-size:14px; font-weight:bold;}
.content_title_bg_r{background:url(../image/title_r.jpg) no-repeat right top; width:4px;}
.content_title_button{ width:101px; height:36px;}
.content_title_button a{ background:url(../image/title_button.gif) no-repeat left top; width:101px; height:36px; line-height:36px; cursor:pointer; display:inline-block; text-indent:3em;}
.content_title_button a:hover{background:url(../image/title_button_on.gif) no-repeat top left; text-decoration:none; }
.content_tag{ text-align:center; background-color:#fff; border-bottom:1px solid #dadada; height:46px; font-family:Microsoft YaHei; font-size:14px; color:#666; }
.content_tag td{ border-right:1px solid #e3e3e3;}
.button{ height:23px; margin-right:5px;}
.button_l{width:6px; background:url(../image/button_01.png) no-repeat left top;}
.button_m{background:url(../image/button_02.png) repeat-x top left; text-align:center; color:#f4f4f4; padding:0px 5px; overflow:hidden;}
.button_m a{ width:100%; color:#FFF; height:23px; display:inline-block;}
.button_m a:hover{ color:#abe8ff; text-decoration:none; background:url(../image/button_123.jpg) no-repeat top; width:100%; height:23px; display:inline-block; }
.button_r{background:url(../image/button_03.png) repeat-x left top; width:6px;}
.content_list{ text-align:center; border-bottom:1px solid #acadb2; border-left:1px solid #acadb2; border-right:1px solid #acadb2;}
.content_list_tr1{height:40px; border-bottom:1px solid #e4e7ee; font-family:Microsoft YaHei;  height:50px;}
.content_list_tr2{height:40px; border-bottom:1px solid #e4e7ee; background-color:#e5ebf2; font-family:Microsoft YaHei; height:50px;}
.content_list_tag1{ width:5%;}
.content_list_tag2{ width:10%;}
.content_list_tag3{ width:6%;}
.content_list_tag4{ width:6%;}
.content_list_tag5{ width:10%;}
.content_list_tag6{ width:15%;}
.content_list_tag7{ width:10%;}
.content_list_tag8{ width:7%;}
.content_list_tag9{ width:20%;}
/*翻页开始*/
.content_list_page{ height:55px; text-align:left; }
.content_list_page strong { color:#F00;}
.page_button1{ display:inline-block; width:95px; height:33px; background:url(../image/page_button1.png) no-repeat left top; margin-right:6px; margin-left:8px;}
.page_button1 a{ font-size:14px; font-weight:bold; width:95px; height:33px; display:inline-block; line-height:33px; text-align:center; }
.page_button1 a:hover{ background:url(../image/page_button1_on.png) no-repeat left top; text-decoration:none; color:ff4e00; font-size:14px; font-weight:bold; width:95px; height:33px; display:inline-block; line-height:33px; text-align:center;}
.page_button2{ font-size:14px; font-weight:bold; width:95px; height:33px; background:url(../image/page_button2.png) no-repeat left top; display:inline-block; line-height:33px; text-align:center; margin-right:8px;}
.page_button2 a{ font-size:14px; font-weight:bold; width:95px; height:33px;  display:inline-block; line-height:33px; text-align:center;}
.page_button2 a:hover{ font-size:14px; font-weight:bold; width:95px; height:33px; background:url(../image/page_button2_on.png) no-repeat left top; display:inline-block; line-height:33px; text-align:center; text-decoration:none;}
.page_text{ width:40px; height:20px; margin:0px 5px; border:1px solid #CCC;}
/*弹出窗*/
.window_content { margin: 25px auto; width:500px; clear:both; overflow:hidden;}
.window_content_list{ clear:both; overflow:hidden; background-color:#FFF; border-bottom:4px solid #536e8b; border-left:4px solid #536e8b; border-right:4px solid #536e8b;}
.window_content_list .tb{ margin:20px auto; border-collapse:inherit; }
.window_content_list .tb tr{ height:35px; }
.window_content_list .tb .text { width:180px; margin-right:8px; padding:0px 5px; height:26px; line-height:26px; border-top:1px solid #a9aeb4; border-bottom:1px solid #dcdfe6; border-left:1px solid #a9aeb4; border-right:1px solid #dcdfe6; vertical-align:middle; }
.window_content_list .tb .select { width:190px;}
.window_content_title_ico{ width:30px; height:36px;}
.window_content_title_ico a{ background:url(../image/close_ico.jpg) no-repeat left top; width:30px; height:36px; line-height:36px; cursor:pointer; display:inline-block; text-indent:3em;}
.window_content_title_ico a:hover{background:url(../image/close_ico_on.jpg) no-repeat top left; text-decoration:none; }



/* CSS Document */
*{ margin:0px; padding:0px;}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, textarea, blockquote,p{ margin: 0; padding: 0; color:#333;}
img{ border:0px; padding:0; margin:0;}
a { color:#418cc5; text-decoration:none; }
a:hover { color:#f30; text-decoration:none; }
.bg{ background:url(../image/bg_01.jpg) repeat-x left top; margin:0px; padding:0px; border:0px; font-size:12px;}
.logo{ background:url(../image/logo.jpg) left top no-repeat; width:326px; height:85px; float:left; }
.p-info{ float:right;}
.top{margin: 0 auto; width:960px; height:125px; }
.top .city{ float:left; margin-left:345px; margin-top:32px; color:#FFF; width:60px; height:40px; font-size:14px;}
.top .info{ color:#72767a; font-size:12px; float:right; margin-right:10px; margin-top:35px;}
.top .info span{ color:#FFF; margin:0 10px; display:inline-block; height:16px; line-height:16px;}
.cart{ background:url(../image/cart.png) no-repeat left transparent; padding-left:18px;}
.list{ background:url(../image/list.gif) no-repeat left transparent; padding-left:18px;}
.help{ background:url(../image/help.png) no-repeat left top transparent; padding-left:18px;}
.top .info b{ color:#F00; margin:0 5px; font-size:14px;}
.top .info a{ text-decoration:none; color:#FFF; margin:0; padding:0; display:inline-block; }
.top .info a:hover{color:#ff4e00; margin:0; padding:0;}
.dz_menu{height:40px; line-height:40px; font-size:14px; font-weight:bold; color:#afd8fb;}
.dz_menu1{text-align:right; height:34px; line-height:34px; font-size:14px;}
.dz_menu a{ color:#FFF; margin-right:10px; margin-left:10px; cursor:pointer;}
.dz_menu a:hover{ color:#ff4e00; margin-right:10px; margin-left:10px; cursor:pointer;}
.dz_menu1 a{ color:#333; margin-right:10px; margin-left:10px; cursor:pointer; width:80px; height:33px;}
.dz_menu1 a:hover{ color:#ff4e00; margin-right:10px; margin-left:10px; cursor:pointer;}
.dz_menu_in{background:url(../image/select_02.jpg) no-repeat; width:100px; height:40px; display:inline-block; color:#333; text-align:center; margin-right:10px;}
.dz_menu1_in{background:url(../image/select_01.jpg) no-repeat; width:80px; height:33px; display:inline-block; color:#fff; text-align:center; margin-right:5px;}
/*头部结束*/
.content{ margin: 0 auto; width:960px;}
.cz_button2{background:url(../image/123_21.jpg) no-repeat; width:118px; height:36px; line-height:36px; text-align:center; display:inline-block; cursor:pointer; color:#666; font-size:14px; font-family:Verdana,微软雅黑, Geneva, sans-serif; margin-right:10px;}
.cz_button1{background:url(../image/123_19.jpg) no-repeat; width:118px; height:36px; line-height:36px; text-align:center; display:inline-block; cursor:pointer; color:#FFF; font-size:14px; font-family:Verdana,微软雅黑, Geneva, sans-serif; margin-right:10px; }
.cz_button1 a{width:118px; height:36px; display:inline-block;}
.cz_button2 a{width:118px; height:36px; display:inline-block;  color:#555;}
.cz_button2 a:hover{background:url(../image/123_21_on.jpg) no-repeat; color:#555;}
.cz_button1 a:hover{background:url(../image/123_19_on.jpg) no-repeat; color:#FFF;}
.content .ad{ margin-top:24px; width:960px; height:24px;}
.list_styl {border-left:3px solid #e2e6e9; border-right:3px solid #e2e6e9; border-bottom:2px solid #edeff2; }
.list_styl ul { list-style:none;}
.list_styl ul li { background:url(../image/345_19.jpg) no-repeat left; text-indent:3em;  border-bottom:1px solid #e6e6e6; border-top:1px solid #FFF ;  line-height:40px; background-color:#f9fafc; font-size:14px; font-family:Verdana,微软雅黑, Geneva, sans-serif;}
.list_styl ul li a{ display:block; width:100%; cursor:pointer;}
.list_styl ul li a:hover{ background:#e2e6e9;}
.moble_c{ border-left:1px solid #cce0f0; border-bottom:1px  solid #cce0f0; border-right:1px solid #cce0f0; background-color:#f4f7f9;}
.moble_c ul{ list-style:none; margin-left:30px; padding-top:20px;}
.moble_c ul li{ line-height:50px; height:50px; }
.protect { margin:0px; padding-left:22px;}
.protect .tle  { width:420px; display:inline-block; overflow:hidden; }
.protect .tle_num  { color:#999; }
.protect ul { list-style:none;}
.protect ul li { line-height:32px;}
.hum_info{ background-color:#fafafa; border-bottom:1px solid #d2d2d2; border-left:1px solid #d2d2d2; border-right:1px solid #d2d2d2; border-top:1px dashed #999;}
.hum_info ul{ list-style:none; padding-left:14px; }
.hum_info ul li{ line-height:36px;}
.ye{color:#F30; font-size:18px; font-family:Verdana,微软雅黑, Geneva, sans-serif; margin-right:10px;">2000</strong> <a style="cursor:pointer;}
.ywxx{ background:url(../image/123_13.jpg) left top no-repeat; width:201px; height:36px;  line-height:36px; font-size:15px; font-family:Verdana,微软雅黑, Geneva, sans-serif; padding-left:10px;}
.more{width:492px; height:36px; line-height:36px; text-align:center; background:url(../image/button_19.jpg) no-repeat; margin:0px 0px 20px 20px;}
.more1{width:492px; height:36px; display:inline-block; cursor:pointer;}
.xt{border-top:1px solid #cce0f0; height:30px; margin-top:10px;}
.p_info{text-align:right; height:34px; line-height:34px; font-size:14px;}
.czjf{background:url(../image/123_09.jpg) left top no-repeat; width:201px; height:36px; padding-left:10px; line-height:36px; font-size:15px; font-family:Verdana,微软雅黑, Geneva, sans-serif;}
.sjzz{background:url(../image/123_09.jpg) left top no-repeat; width:201px; height:36px; padding-left:10px; line-height:36px; font-size:15px; font-family:Verdana,微软雅黑, Geneva, sans-serif;}
.xjcx{background:url(../image/123_09.jpg) left top no-repeat; width:201px; height:36px; padding-left:10px; line-height:36px; font-size:15px; font-family:Verdana,微软雅黑, Geneva, sans-serif;}
.hf_info{background:url(../image/123_11.jpg) left top no-repeat; padding-left:10px; width:538px; height:36px; line-height:36px; font-size:15px; font-family:Verdana,微软雅黑, Geneva, sans-serif;}
.lf{width:201px; float:left; margin-right:10px;}
.md{width:538px; margin-right:10px; float:left;}
.txt_190{width:190px;}
.txt_182{width:182px; padding-left:8px; height:28px; margin:0px; border:1px solid #cbcbcb; border-radius: 5px; font-size:15px; font-family:Verdana,微软雅黑, Geneva, sans-serif; margin-right:10px;}
.txt_182_1{width:240px; padding-left:8px; height:32px; margin:0px; border:1px solid #cbcbcb; border-radius: 5px; font-size:15px; font-family:Verdana,微软雅黑, Geneva, sans-serif; margin-right:10px;}
.txt_162{width:162px; height:28px; padding:0px; margin:0px; border:1px solid #cbcbcb; margin-right:10px; border-radius: 5px;}
.txt_162_1{width:142px; height:28px; padding:0px; border:1px solid #cbcbcb; margin-right:5px; border-radius: 5px; padding-left:10px;}
.txt_yuan{width:30px; height:40px; display:inline-block;}
.whxx{background-color:#f9f9f9; border-left:1px solid #cce0f0; border-bottom:1px  solid #cce0f0; border-right:1px solid #cce0f0;}
.whxx_1{font-size:15px; font-family:Verdana,微软雅黑, Geneva, sans-serif; height:40px; line-height:40px; padding-left:10px;}
.gfgg{background-color:#f9f9f9; border-left:1px solid #cce0f0; border-bottom:1px  solid #cce0f0; border-right:1px solid #cce0f0;}
.gfgg_1{font-size:15px; font-family:Verdana,微软雅黑, Geneva, sans-serif; height:40px; line-height:40px; padding-left:10px; }
.login_1{ margin:180px auto; height:300px; width:740px; position:relative;}
.login_1_2{width:352px; height:296px; background:url(../image/zxcz_1.gif) no-repeat; float:left;}
.login_1_1 ul{ list-style:none;}
.login_1_1{width:332px; float:left; margin-left:20px;}
.login_1_1 ul li{ line-height:44px;}
.l_txt { width:70px; height:30px; font-size:13px; font-family:Verdana,微软雅黑, Geneva, sans-serif; display:inline-block; overflow:hidden;}
.button_login{ margin:0px;}
.button_login a{ margin-top:10px; background:url(../image/ew_07.jpg) no-repeat; width:267px; height:44px; display:inline-block; margin-left:70px; cursor:pointer;}
.button_login a:hover{ margin-top:10px; background:url(../image/ew_07_on.jpg) no-repeat; width:297px; height:44px;}
.button_login_1{ margin:0px;}
.button_login_1 a{ margin-top:10px; background:url(../image/ew_07.jpg) no-repeat; width:267px; height:44px; display:inline-block; margin-left:70px; cursor:pointer;}
.button_login_1 a:hover{ margin-top:10px; background:url(../image/ew_07_on.jpg) no-repeat; width:297px; height:44px;}

.button_login_sh{ margin:0px;}
.button_login_sh a{ margin-top:0px; background:url(../image/ew_07_3.jpg) no-repeat; width:267px; height:44px; display:inline-block; margin-left:70px; cursor:pointer;}
.button_login_sh a:hover{ margin-top:0px; background:url(../image/ew_07_3_on.jpg) no-repeat; width:297px; height:44px;}


.login_0{ margin:240px auto; width:332px; position:relative;}





