<div class="span12">
	<!-- BEGIN SEARCH PORTLET-->

	<div class="portlet ">
		<div class="portlet-title">
			<div class="caption"><i class="icon-search"></i>查询条件</div>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
			</div>
		</div>
		
		<div class="portlet-body form" style="display: block;">
		<form class="form-horizontal" action="/site/index.do" method="post">
			<div class="row-fluid">
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">所属客户</label>
						<div class="controls">
							<select id="customerId"  class="small m-wrap" tabindex="1" name="customerId">
								#foreach($customer in $customers)
									<option value="$!{customer.customerId}">$!{customer.customerName}</option>
								#end	
							</select>
						</div>
					</div>
				</div>

				<!--/span-->
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">现场名称</label>
						<div class="controls">
							<input id="siteName" type="text" class="m-wrap span12" name="siteName" value="$!{siteName}"> 
						</div>
					</div>
				</div>

				<!--/span-->
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">状态</label>
						<div class="controls">
							<select class="small m-wrap" tabindex="1" name="status" id="status">
								<option value="1">在建</option>
								<option value="2">维修</option>
							</select>
						</div>
					</div>
				</div>

				<!--/span-->
			</div>
			<!--/row-->
			
			<div class="row-fluid">
				<div class="span4 ">
					<div class="control-group">
						<div class="controls">
							<button class="btn purple">查询 <i class="icon-search"></i></button>	</div>
					</div>
				</div>
			</div>
		</form>
		</div>
		
	</div>

	<!-- END SEARCH FORM>

</div>