<div class="span12">
	<!-- BEGIN INPUT PORTLET-->
	<div class="portlet box blue">
		<div class="portlet-title">
			<div class="caption"><i class="icon-search"></i>设备基础信息</div>
		</div>
		<div class="portlet-body form" style="display: block;">
			
		<form class="form-horizontal" action="/userInfo/addUserInfo.htm" method="POST">
			<div class="row-fluid">
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">所属客户:</label>
						<div class="controls">
							<select class="small m-wrap" tabindex="1" name="customerId">
								#foreach($customer in $customers)
									<option value="$!{customer.customerId}">$!{customer.customerName}</option>
								#end
							</select>
						</div>
					</div>
				</div>
				<!--/span-->
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">用户角色:</label>
						<div class="controls">
							<select class="small m-wrap" tabindex="1" name="roleType">
								<option value="1">平台管理员</option>
								<option value="2">客户管理员</option>
								<option value="3">普通用户</option>
							</select>
						</div>
					</div>
				</div>
				<!--/span-->
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">用户姓名:</label>
						<div class="controls">
							<input type="text" class="m-wrap span12" name="userName"> 
						</div>
					</div>
				</div>

				<!--/span-->
			</div>
			<!--/row-->
			<div class="row-fluid">
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">手机号:</label>
						<div class="controls">
							<input type="text" class="m-wrap span12" name="userPhone" > 
						</div>
					</div>
				</div>

				<!--/span-->
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">登录用户名:</label>
						<div class="controls">
							<input type="text" class="m-wrap span12" name="loginName" > 
						</div>
					</div>
				</div>

				<!--/span-->
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">登录密码:</label>
						<div class="controls">
							<input type="text" class="m-wrap span12" name="password"> 
						</div>
					</div>
				</div>
				<!--/span-->
			</div>
			<!--/row-->
			<!--/row-->
			<div class="row-fluid">
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">邮箱:</label>
						<div class="controls">
							<input type="text" class="m-wrap span12" name="userEmail"> 
						</div>					
					</div>
				</div>
				<!--/span-->
			</div>
			<!--/row-->
			
			
			<div class="form-actions">
				<button type="submit" class="btn blue"><i class="icon-ok"></i> 保存</button>
				<button type="button" class="btn" onclick="javascript:window.history.back();">取消</button>
			</div>
		</form>
		</div>
	</div>
	<!-- END INPUT FORM>
</div>