<div class="span12">
	<!-- BEGIN SEARCH PORTLET-->

	<div class="portlet ">

		<div class="portlet-title">

			<div class="caption"><i class="icon-search"></i>查询条件</div>

			<div class="tools">

				<a href="javascript:;" class="collapse"></a>

			</div>

		</div>
		
		<div class="portlet-body form" style="display: block;">
		<form class="form-horizontal" action="/userInfo/index.do" method="POST">
			<div class="row-fluid">
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label" >所属客户</label>
						<div class="controls">
							<select id="custId"  class="small m-wrap" tabindex="1" name="customerId">
								<option value="0" selected>--全部--</option>
								#foreach($customer in $customers)
									<option value="$!{customer.customerId}" #if($!{customerId} == $!{customer.customerId})selected#end>
										  $!{customer.customerName}</option>
								#end
							</select>
						</div>
					</div>
				</div>

				<!--/span-->
				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">用户角色</label>
						<div class="controls">
							<select  id="roleType" class="small m-wrap" tabindex="1" name="roleType">
								<option value="0"  #if('0' == $!{roleType}) selected #end>--全部--</option>
								<option value="1"  #if('1' == $!{roleType}) selected #end>平台管理员</option>
								<option value="2"  #if('2' == $!{roleType}) selected #end>客户管理员</option>
								<option value="3"  #if('3' == $!{roleType}) selected #end>普通用户</option>
							</select>
						</div>
					</div>

				</div>

				<!--/span-->

				<div class="span4 ">
					<div class="control-group">
						<label class="control-label">用户姓名</label>
						<div class="controls">
							<input id="userName" type="text" class="m-wrap span12" name="userName" value="$!{userName}"> 
						</div>
					</div>
				</div>
				<!--/span-->
			</div>
			<!--/row-->
			
			<div class="row-fluid">

				<div class="span4 ">

					<div class="control-group">

						<label class="control-label">用户手机</label>

						<div class="controls">
								<input id="userPhone" name="userPhone" type="text" class="m-wrap span12" value="$!{userPhone}"> 
						</div>

					</div>

				</div>

				<!--/span-->

			</div>
			
			<div class="row-fluid">
				<div class="span4 ">
					<div class="control-group">
						<div class="controls">
							<button id="search_button" class="btn purple">查询 <i class="icon-search"></i></button>	</div>
					</div>
				</div>
			</div>
		</form>
		</div>
		
	</div>

	<!-- END SEARCH FORM>

</div>